.App {
  font-family: sans-serif;
  text-align: center;
}

.add-people {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: right;
}

.add-people input[type="text"],
.add-people input[type="number"] {
  display: block;
  padding: 10px;
  margin: 5px;
  width: 100%;
  font-size: 14px;
}

.add-people button {
  background-color: aquamarine;
}

button {
  padding: 5px 15px;
  border: 0;
}


.error{
  color: red;
}